.card-profile-container {
	width: 100%;
	height: 100%;
	background-color: var(--neutral-dark-blue);
	border-radius: 15px;
}

.card-profile {
	background-color: var(--primary-blue);
	border-radius: 15px;
	padding: 0.5rem;
	display: flex;
	height: 60%;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.card-profile-img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: white 3px solid;
}

.card-profile-img > img {
	width: 100%;
	height: 100%;
}

.card-profile-title {
	padding: 15px 0 15px 15px;
	line-height: 0;
	font-weight: 400;
}
.card-profile-title > h1 {
	font-weight: 400;

	margin: 0;
	font-size: 22px;
	line-height: 35px;
	color: var(--neutral-pale-blue);
}
.card-profile-title > p {
	font-size: 16px;
	color: var(--neutral-pale-blue);
	font-weight: 500;
}
.card-list-activities {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.9rem;
	color: var(--neutral-desaturated-blue);
}

.period:hover {
	color: var(--neutral-pale-blue);
}

@media (min-width: 1270px) {
	.card-profile-container {
		grid-column: 1/1;
		grid-row: 1 / span 2;
	}

	.card-profile {
		flex-direction: column;
		align-items: flex-start;
		height: 55%;
	}

	.card-profile-title > h1 {
		font-size: 42px;
	}

	.card-list-activities {
		flex-direction: column;
		line-height: 35px;
		padding: 0.9rem 35px;
	}

	.card-profile-img {
		width: 95px;
		height: 95px;
		margin-left: 15px;
	}
}
