.container {
	color: var(--neutral-pale-blue);

	display: grid;
	grid-template-columns: 290px;
	grid-template-rows: repeat(7, 210px);

	align-content: center;
	justify-content: center;
	gap: 1.5rem;
}

@media (min-width: 1270px) {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 290px);
		grid-template-rows: repeat(2, 210px);
	}
}
